* {
    font-family: "Roboto";
}

.containerInstrumento {
    display: flex;
    flex-direction: row;
    gap: 1rem ;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding:1rem;

}



.instrumentoTitle {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
}

.instrumentoPrice {
    font-size:1.5rem;
}

.instrumentoEnvioGratis {
    color: rgb(0, 196, 0);
    display:flex;
    align-items: center;
}

.instrumentoEnvio {
    color: orange;
}
